// Forms 

.error {
  color: #ff7979;
}

input.error,
textarea.error {
  border: 2px solid #ff7979;
}

  // Medium devices (tablets, 768px and up)
  @include media('>=tablet'){
    form {
      margin-left: auto!important;
      margin-right: auto!important;
      width: 70%!important; 
    }
  }
